<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agrocrop">

    <application
        android:allowBackup="true"
        android:icon="@drawable/pngg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pngg"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgroCrop">
        <activity
            android:name=".Global_webview"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".admin.EditAdminProfile"
            android:exported="false" />
        <activity
            android:name=".Normal_User_Profile"
            android:exported="false" />
        <activity
            android:name=".NewpostActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ContactUs"
            android:exported="false" />
        <activity
            android:name=".superadmin.SuperAdminHome"
            android:exported="false" />
        <activity
            android:name=".admin.AdminHome"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>